{% extends 'base.html' %}
{% load staticfiles %}
{% load filter %}
{% block content %}
<section class="rh_banner rh_banner__image"
         style="background-repeat: no-repeat;background-position: center top;background-image: url('{% static 'img/banner.jpg' %}'); background-size: cover; ">

    <div class="rh_banner__cover"></div>
    <!-- /.rh_banner__cover -->

    <div class="rh_banner__wrap">
        <h2 class="rh_banner__title">
            {{userprofile.user.first_name}} {{userprofile.user.last_name}} </h2>
        <!-- /.rh_banner__title -->


    </div>
    <!-- /.rh_banner__wrap -->

</section>
<!-- /.rh_banner -->
<!-- /.rh_prop_search -->

<section class="rh_section rh_section--flex rh_wrap--padding rh_wrap--topPadding">

    <div class="rh_page rh_page__agents rh_page__main">


        <div class="rh_agent_profile">

            <div class="rh_agent_profile__wrap">

                <div class="rh_agent_profile__head">

                    <div class="rh_agent_profile__dp">

                        <figure class="picture">
                            <a title="Melissa William" href="index.html">
                                <img width="210" height="210" src="{{userprofile.avatar.url}}"
                                     class="attachment-agent-image size-agent-image wp-post-image" alt=""
                                     sizes="(max-width: 210px) 100vw, 210px"/> </a>
                        </figure>
                        <!-- /.picture -->

                        <div class="listed_properties">
                            <p class="number">{{house|length}}</p>
                            <!-- /.number -->
                            <p class="heading">Listed Properties</p>
                            <!-- /.heading -->
                        </div>
                        <!-- /.listed_properties -->

                    </div>
                    <!-- /.rh_agent_profile__dp -->

                    <div class="rh_agent_profile__details">
                        <div class="rh_agent_profile__name">
                            <h3 class="name">{{userprofile.user.first_name}} {{userprofile.user.last_name}}</h3>
                            <!-- /.name -->
                        </div>
                        <!-- /.rh_agent_profile__name -->
                        <div class="rh_agent_profile__contact">
                            {% for phone in userprofile.phone %}
                            <p class="detail office">
                                {{phone.phone.type}}: <a href="tel:{{phone.body}}">{{phone.body}}</a>
                            </p>
                            {% endfor %}
                            <p class="detail email">
                                Email: <a href="mailto:{{userprofile.user.email}}">{{userprofile.user.email}}</a>
                            </p>
                            <!-- /.detail -->
                        </div>
                        <!-- /.rh_agent_profile__contact -->
                    </div>
                    <!-- /.rh_agent_profile__details -->

                </div>
                <!-- /.rh_agent_profile__head -->

                <div class="rh_content rh_agent_profile__excerpt">
                    <p>{{userprofile.text}}</p>
                </div>
                <!-- /.rh_agent_profile__excerpt -->

                <div class="rh_agent_profile__contact_form">
                    <div class="rh_agent_form">

                        <form id="agent-single-form" class="" method="post"
                              action="{% url 'agent:contact' %}">

                            <div class="rh_agent_form__field rh_agent_form__text">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" placeholder="Your Name" class="required"
                                       title="* Please provide your name">
                            </div>
                            <!-- /.rh_agent_form__field rh_agent_form__text -->

                            <div class="rh_agent_form__field rh_agent_form__text">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" placeholder="Your Email"
                                       class="email required" title="* Please provide valid email address">
                            </div>
                            <!-- /.rh_agent_form__field rh_agent_form__text -->

                            <div class="rh_agent_form__field rh_agent_form__text">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" id="phone" placeholder="Your Phone"
                                       class="digits required" title="* Please provide valid phone number">
                            </div>
                            <!-- /.rh_agent_form__field rh_agent_form__text -->

                            <div class="rh_agent_form__field rh_agent_form__textarea">
                                <label for="comment">Message</label>
                                <textarea rows="6" name="message" id="comment" class="required"
                                          placeholder="Your Message" title="* Please provide your message"></textarea>
                            </div>
                            <!-- /.rh_agent_form__field rh_agent_form__textarea -->


                            <div class="rh_agent_form__row">
                                {% csrf_token %}
                                <input type="hidden" name="email_user" value="{{userprofile.user.email}}">
                                <button type="submit" id="submit-button" class="rh_btn rh_btn--primary">Send Message</button>
                                <span id="ajax-loader">
	            	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" /><g><path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z" fill="#1ea69a" fill-opacity="1"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1000ms" repeatCount="indefinite"></animateTransform></g></svg>
	            </span>
                            </div>
                            <!-- /.rh_agent_form__row -->

                            <div class="rh_agent_form__row">
                                <div id="error-container"></div>
                                <div id="message-container"></div>
                            </div>
                            <!-- /.rh_agent_form__row -->

                        </form>

                    </div>
                    <!-- /.rh_agent_form -->
                </div>
                <!-- /.rh_agent_profile__contact_form -->

            </div>
            <!-- /.rh_agent_profile__wrap -->

        </div>
        <!-- /.rh_agent_profile -->

        <div class="rh_page__head rh_page--single_agent">

            <h2 class="rh_page__title">
                <span class="sub">My Listings</span>
            </h2>
            <!-- /.rh_page__title -->

        </div>
        <!-- /.rh_page__head -->


        <section class="rh_compare rh_compare__section ">

            <h4 class="title">Compare Properties</h4>

            <div class="rh_compare__carousel">


            </div>

            <a href="../../compare-properties/index.html" class="rh_compare__submit rh_btn rh_btn--primary">Compare</a>
            <!-- .compare-submit -->

        </section>
        <!-- .rh_compare_section -->

        <div class="rh_page__section">
            {% for item in house %}
            <article
                    class="rh_list_card ">

                <div class="rh_list_card__wrap">

                    <figure class="rh_list_card__thumbnail">
                        <div class="rh_label rh_label__list">
                            <div class="rh_label__wrap">
                                Featured <span></span>
                            </div>
                        </div>
                        <!-- /.rh_label -->

                        <a href="{% url 'house:details' item.slug %}">
                            <div class="post_thumbnail"
                                 style="background: url('{{item.image_url.url}}') 50% 50% no-repeat; background-size: cover;"></div>
                            <!-- /.post_thumbnail -->
                        </a>

                        <div class="rh_overlay"></div>
                        <div class="rh_overlay__contents rh_overlay__fadeIn-bottom">
                            <a href="{% url 'house:details' item.slug %}">View Property</a>
                        </div>
                        <!-- /.rh_overlay__contents -->


                        <div class="rh_list_card__btns">

                            <form action="http://realhomes-modern.inspirythemes.biz/wp-admin/admin-ajax.php"
                                  method="post" class="add-to-favorite-form">
                                <input type="hidden" name="property_id" value="45"/>
                                <input type="hidden" name="action" value="add_to_favorite"/>
                            </form>
                            <span class="favorite-placeholder highlight__red hide" data-tooltip="Added to favorites">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
  <path class="rh_svg"
        d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z"
        transform="translate(-1077 -1922)"/>
</svg>
					</span>
                            <a href="#" class="favorite add-to-favorite" data-tooltip="Add to favorite">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 21">
                                    <path class="rh_svg"
                                          d="M1089.48,1923.98a6.746,6.746,0,0,1,9.54,9.54L1089,1943l-10.02-9.48a6.746,6.746,0,0,1,9.54-9.54A0.641,0.641,0,0,0,1089.48,1923.98Z"
                                          transform="translate(-1077 -1922)"/>
                                </svg>
                            </a>

                            <span class="add-to-compare-span">
			<span class="compare-placeholder highlight hide" data-tooltip="Added to compare">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z"
        transform="translate(-1121 -1922)"/>
</svg>
		</span>
		<a class="add-to-compare" data-tooltip="Add to compare" data-property-id="45"
           href="../../wp-admin/admin-ajax.html">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M1144,1942l-8,1v3l-7-5,7-5v3l8,1A1,1,0,0,1,1144,1942Zm-22-14,8,1v3l7-5-7-5v3l-8,1A1,1,0,0,0,1122,1928Z"
        transform="translate(-1121 -1922)"/>
</svg>
		</a>
		</span>
                        </div>
                        <!-- /.rh_list_card__btns -->
                    </figure>
                    <!-- /.rh_list_card__thumbnail -->

                    <div class="rh_list_card__details_wrap">

                        <div class="rh_list_card__details">

                            <h3>
                                <a href="{% url 'house:details' item.slug %}">{{item.title}}</a>
                            </h3>
                            <p class="rh_list_card__excerpt">Enchanting three bedroom, three bath&hellip;</p>
                            <!-- /.rh_list_card__excerpt -->

                            <div class="rh_list_card__meta_wrap">

                                <div class="rh_list_card__meta">
                                    <h4>Bedrooms</h4>
                                    <div>
                                        <svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24">
                                            <defs>
                                            </defs>
                                            <path d="M1111.91,600.993h16.17a2.635,2.635,0,0,1,2.68,1.773l1.21,11.358a2.456,2.456,0,0,1-2.61,2.875h-18.73a2.46,2.46,0,0,1-2.61-2.875l1.21-11.358A2.635,2.635,0,0,1,1111.91,600.993Zm0.66-7.994h3.86c1.09,0,2.57.135,2.57,1l0.01,3.463c0.14,0.838-1.72,1.539-2.93,1.539h-4.17c-1.21,0-2.07-.7-1.92-1.539l0.37-3.139A2.146,2.146,0,0,1,1112.57,593Zm11,0h3.86a2.123,2.123,0,0,1,2.2,1.325l0.38,3.139c0.14,0.838-.72,1.539-1.93,1.539h-5.17c-1.21,0-2.07-.7-1.92-1.539L1121,594C1121,593.1,1122.48,593,1123.57,593Z"
                                                  transform="translate(-1108 -593)"/>
                                        </svg>
                                        <!-- <img src="php" alt="" /> -->
                                        <span class="figure">{{item.bedrooms}}</span>
                                    </div>
                                </div>
                                <!-- /.rh_list_card__meta -->

                                <div class="rh_list_card__meta">
                                    <h4>Bathrooms</h4>
                                    <div>
                                        <svg class="rh_svg" xmlns="http://www.w3.org/2000/svg" width="23.69" height="24"
                                             viewBox="0 0 23.69 24">
                                            <path d="M1204,601a8,8,0,0,1,16,0v16h-2V601a6,6,0,0,0-12,0v1h-2v-1Zm7,6a6,6,0,0,0-12,0h12Zm-6,2a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,609Zm0,5a1,1,0,0,1,1,1v1a1,1,0,0,1-2,0v-1A1,1,0,0,1,1205,614Zm4.94-5.343a1,1,0,0,1,1.28.6l0.69,0.878a1,1,0,0,1-1.88.685l-0.69-.879A1,1,0,0,1,1209.94,608.657Zm2.05,4.638a1,1,0,0,1,1.28.6l0.35,0.94a1.008,1.008,0,0,1-.6,1.282,1,1,0,0,1-1.28-.6l-0.35-.939A1.008,1.008,0,0,1,1211.99,613.295Zm-11.93-4.638a1,1,0,0,1,.6,1.282l-0.69.879a1,1,0,1,1-1.87-.682l0.68-.88A1,1,0,0,1,1200.06,608.657Zm-2.05,4.639a1,1,0,0,1,.6,1.281l-0.34.941a1,1,0,0,1-1.88-.683l0.34-.94A1,1,0,0,1,1198.01,613.3Z"
                                                  transform="translate(-1196.31 -593)"/>
                                        </svg>
                                        <!-- <img src="php" alt="" /> -->
                                        <span class="figure">{{item.bathrooms}}</span>
                                    </div>
                                </div>
                                <!-- /.rh_list_card__meta -->

                                <div class="rh_list_card__meta">
                                    <h4>Area</h4>
                                    <div>
                                        <svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
	<circle cx="2" cy="2" r="2"/>
</g>
<g>
	<circle cx="2" cy="22" r="2"/>
</g>
<g>
	<circle cx="22" cy="2" r="2"/>
</g>
<rect x="1" y="1" width="2" height="22"/>
<rect x="1" y="1" width="22" height="2"/>
<path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
	c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"/>
</svg>
                                        <!-- <img src="php" alt="" /> -->
                                        <span class="figure">
									{{item.area}}								</span>
                                        <span class="label">
										Sq Ft									</span>
                                    </div>
                                </div>
                                <!-- /.rh_list_card__meta -->

                            </div>
                            <!-- /.rh_list_card__meta_wrap -->

                        </div>
                        <!-- /.rh_list_card__details -->

                        <div class="rh_list_card__priceLabel">

                            <div class="rh_list_card__price">
                                <h4 class="status">
                                    For Sale </h4>
                                <!-- /.rh_prop_card__type -->

                                <p class="price">
                                    ${{item.price|price}}</p>
                                <!-- /.price -->
                            </div>
                            <!-- /.rh_list_card__price -->

                            <p class="rh_list_card__author">
                                By <span class="author">
						{{item.user.first_name}} {{item.user.last_name}}					</span>
                                <!-- /.name -->
                            </p>
                            <!-- /.rh_list_card__author -->

                        </div>
                        <!-- /.rh_list_card__priceLabel -->

                    </div>
                    <!-- /.rh_list_card__details_wrap -->

                </div>
                <!-- /.rh_list_card__wrap -->

            </article>
            <!-- /.rh_list_card -->
            {% endfor %}
        </div>
        <!-- /.rh_page__section -->


    </div>
    <!-- /.rh_page rh_page__main -->

    <div class="rh_page rh_page__sidebar">

        <!-- Sidebar -->
        {% include 'aside.html' %}
        <!-- End Sidebar -->
    </div>
    <!-- /.rh_page rh_page__sidebar -->

</section>
{% endblock %}