{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<section class="rh_banner rh_banner__image"
         style="background-repeat: no-repeat;background-position: center top;background-image: url('{% static 'img/banner.jpg' %}'); background-size: cover; ">

    <div class="rh_banner__cover"></div>
    <!-- /.rh_banner__cover -->

    <div class="rh_banner__wrap">

        <h2 class="rh_banner__title">
            Our Agents </h2>
        <!-- /.rh_banner__title -->


    </div>
    <!-- /.rh_banner__wrap -->

</section>
<!-- /.rh_banner -->


<section class="rh_section rh_section--flex rh_wrap--padding rh_wrap--topPadding">

    <div class="rh_page rh_page__agents rh_page__main">
        <div class="rh_page__listing">
            {% for item in object_list%}
            <article class="rh_agent_card agent">

                <div class="rh_agent_card__wrap">

                    <div class="rh_agent_card__head">

                        <figure class="rh_agent_card__dp">
                            <a title="Nathan James" href="{% url 'agent:details' item.slug %}">
                                <img width="210" height="210" src="{{item.avatar.url}}"
                                     class="attachment-agent-image " alt=""/> </a>
                        </figure>
                        <!-- /.rh_agent_card__dp -->

                        <div class="rh_agent_card__name">

                            <h4 class="name"><a href="{% url 'agent:details' item.slug %}">{{item.user.first_name}} {{item.user.last_name}}</a></h4>
                            <!-- /.name -->
                        </div>
                        <!-- /.rh_agent_card__name -->

                        <div class="rh_agent_card__listings">
                            <p class="head">Listed Properties</p>
                            <!-- /.head -->
                            <p class="count">{{item.count}}</p>
                            <!-- /.count -->
                        </div>
                        <!-- /.rh_agent_card__listings -->

                    </div>
                    <!-- /.rh_agent_card__head -->

                    <div class="rh_agent_card__details">

                        <p class="content">{{item.text}}</p>
                        <!-- /.content -->

                        <div class="rh_agent_card__contact">

                            <div class="rh_agent_card__contact_wrap">
                                {% for phone in item.phone %}
                                <p class="contact office">{{phone.phone.type}}: <a href="tel:{{phone.body}}">{{phone.body}}</a></p>
                                {% endfor %}
                                <p class="contact email">Email: <a
                                        href="mailto:{{item.user.email}}">
                                    {{item.user.email}}</a>
                                </p></div>
                            <!-- /.rh_agent_card__contact_wrap -->
                            <a href="{% url 'agent:details' item.slug %}" class="rh_agent_card__link">
                                <p>View My Listings</p>
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <!-- /.rh_agent_card__link -->

                        </div>
                        <!-- /.rh_agent_card__contact -->

                    </div>
                    <!-- /.rh_agent_card__details -->

                </div>
                <!-- /.rh_agent_card__wrap -->

            </article>
            {% endfor %}
            <!-- /.rh_agent_card -->
        </div>
        <!-- /.rh_page__listing -->


    </div>
    <!-- /.rh_page rh_page__main -->

    <div class="rh_page rh_page__sidebar">

       {% include 'aside.html' %}
    </div>
    <!-- /.rh_page rh_page__sidebar -->

</section>
<!-- /.rh_section rh_wrap rh_wrap--padding -->

{% endblock %}