{% load admin_urls %}
{% load staticfiles %}


<!doctype html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="../gmpg.org/xfn/11.html">
    <meta name="format-detection" content="telephone=no">
    <title>Real Homes &#8211; Modern Design Variation for Real Homes Theme</title>
    <link rel='dns-prefetch' href='../fonts.googleapis.com/index.html' />
    <link rel='dns-prefetch' href='../s.w.org/index.html' />
    <link rel="alternate" type="application/rss+xml" title="Real Homes &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Real Homes &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Real Homes &raquo; Home Comments Feed" href="home/feed/index.html" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all" />
    <link rel='stylesheet' id='inspiry-google-fonts-css' href='../fonts.googleapis.com/css0400.css?family=Lato%3A400%2C400i%2C700%2C700i%7CRoboto%3A400%2C400i%2C500%2C500i%2C700%2C700i&amp;subset=latin%2Clatin-ext&amp;ver=3.3.1' type='text/css' media='all'
    />
    <link rel='stylesheet' id='realhomes-rubik-font-css' href='../fonts.googleapis.com/cssef0d.css?family=Rubik%3A400%2C400i%2C500%2C500i%2C700%2C700i&amp;subset=latin%2Clatin-ext&amp;ver=3.3.1' type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'js/jquery/jqueryb8ff.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/jquery/jquery-migrate.min330a.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/vendors/realhomes-common-scripts3d36.js' %}"></script>
</head>

<body class="home">
    <div class="rh_wrap">
        <div id="rh_progress"></div>
        <!-- /#rh_progress -->
        <header class="rh_header rh_header--shadow">

            <div class="rh_header__wrap">

                <div class="rh_logo">
                    <a title="Real Homes" href="index.html">
						<img src="{% static 'img/logo.png' %}" alt="Real Homes">
					</a>
                    <h2 class="rh_logo__heading only-for-print">
                        Real Homes </h2>
                    <p class="only-for-print">
                        Modern Design Variation for Real Homes Theme </p>
                    <!-- /.only-for-print -->

                </div>
                <!-- /.rh_logo -->

                <div class="rh_menu">

                    <!-- Start Main Menu-->
                    <nav class="main-menu">
                        <div class="rh_menu__hamburger hamburger hamburger--squeeze">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="rh_menu__main clearfix">
                                <li><a href="{% url 'house:index' %}">Home</a></li>
                                <li  class="menu-item "><a href="{% url 'properties:index' %}">Properties</a>
                                </li>
                                <li  class="menu-item   menu-item-4395"><a href="news/index.html">News</a></li>
                                <li  class="menu-item   menu-item-4443"><a href="our-agents/index.html">Agents</a></li>
                                <li  class="menu-item   menu-item-has-children menu-item-4439"><a href="gallery-3-columns/index.html">Gallery</a>
                                </li>
                                <li  class="menu-item   menu-item-4399"><a href="contact/index.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu-1" class="rh_menu__responsive clearfix">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4403"><a href="index.html">Home</a></li>
                                <li class="menu-item   menu-item-has-children menu-item-4411"><a href="list-layout/index.html">Properties</a>
                                </li>
                                <li class="menu-item   menu-item-4395"><a href="news/index.html">News</a></li>
                                <li class="menu-item   menu-item-4443"><a href="our-agents/index.html">Agents</a></li>
                                <li class="menu-item   menu-item-has-children menu-item-4439"><a href="gallery-3-columns/index.html">Gallery</a>
                                </li>
                                <li class="menu-item   menu-item-4399"><a href="contact/index.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Main Menu -->

                    <div class="rh_menu__user">
                        <!-- /.rh_menu__user_phone -->

                        <div class="rh_menu__user_profile">
                            <svg version="1.1" class="user-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
<g>
	<g id="account-circle">
		<path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
			c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
			c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


                            <div class="rh_modal">

                                <div class="rh_modal__corner"></div>
                                <!-- /.rh_modal__corner -->

                                <div class="rh_modal__wrap">


                                    <div class="rh_modal__login_wrap modal">

                                        <h3>Login</h3>
                                        {% include "singIn.html" %}


                                        <div>
                                            <p id="login-message" class="rh_modal__msg"></p>
                                            <p id="login-error" class="rh_modal__msg"></p>
                                        </div>

                                        <div class="switch">
                                            <a href="#" data-switch="forgot" class="rh-forgot-password">Forgot Password</a>
                                            <br />
                                            <a href="#" data-switch="register" class="rh-register">Register Now</a>
                                        </div>
                                        <!-- /.switch -->

                                    </div>
                                    <!-- /.rh_modal__login_wrap -->


                                    <div class="rh_modal__register_wrap modal">

                                        <h3>Register</h3>

                                        {% include "singUp.html" %}

                                        <div>
                                            <p id="register-message" class="rh_modal__msg"></p>
                                            <p id="register-error" class="rh_modal__msg"></p>
                                        </div>

                                        <div class="switch">
                                            <a href="#" data-switch="login" class="rh-login">Login</a><br />
                                            <a href="#" data-switch="forgot" class="rh-forgot-password">Forgot Password</a>
                                        </div>
                                        <!-- /.switch -->

                                    </div>
                                    <!-- /.rh_modal__register_wrap -->


                                    <div class="rh_modal__forgot_wrap modal">

                                        <h3>Reset Password</h3>

                                        <form action="http://realhomes-modern.inspirythemes.biz/wp-admin/admin-ajax.php" id="rh_modal__forgot_form" method="post" enctype="multipart/form-data">
                                            <input id="reset_username_or_email" name="reset_username_or_email" type="text" placeholder="Username or Email" class="required" title="* Provide username or email!" required/>
                                            <input type="hidden" name="action" value="inspiry_ajax_forgot" />
                                            <input type="hidden" name="user-cookie" value="1" />
                                            <input type="hidden" id="inspiry-secure-reset" name="inspiry-secure-reset" value="bc71b9907f" /><input type="hidden" name="_wp_http_referer" value="/" /> <button id="forgot-button" name="user-submit">Reset Password</button>
                                        </form>

                                        <div>
                                            <p id="forgot-message" class="rh_modal__msg"></p>
                                            <p id="forgot-error" class="rh_modal__msg"></p>
                                        </div>

                                        <div class="switch">
                                            <a href="#" data-switch="login" class="rh-login">Login</a>
                                            <br />
                                            <a href="#" data-switch="register" class="rh-register">New User? Register Now</a>
                                        </div>
                                        <!-- /.switch -->

                                    </div>
                                    <!-- /.rh_modal__forgot_wrap -->


                                </div>
                                <!-- /.rh_modal__wrap -->

                            </div>
                            <!-- /.rh_menu__modal -->
                        </div>
                        <!-- /.rh_menu__user_profile -->

                        <div class="rh_menu__user_submit">
                            <a href="submit-property/index.html">Profile</a>
                        </div>
                        <!-- /.rh_menu__user_submit -->

                    </div>
                    <!-- /.rh_menu__user -->

                </div>
                <!-- /.rh_menu -->

            </div>
            <!-- /.rh_header__wrap -->

        </header>
        <!-- /.rh_header -->
        {% block content %} {% endblock %}
        <footer class="rh_footer ">

            <div class="rh_footer__wrap rh_footer--alignCenter">

                <div class="rh_footer__logo">
                    <a title="Real Homes" href="index.html">
					<img src="{% static 'img/logo.png'%}" alt="Real Homes">
				</a>
                    <p class="tag-line"><span class="separator">/</span><span class="text">Simply #1 Real Estate Theme</span></p>
                </div>
                <!-- /.rh_footer__logo -->
            </div>
            <!-- /.rh_footer__wrap -->

            <div class="rh_footer__wrap rh_footer--alignTop ">

                <div class="rh_footer__widgets">

                    <div class="rh_widgets">
                        <section id="nav_menu-2" class="widget clearfix widget_nav_menu">
                            <div class="menu-footer-widget-menu-container">
                                <ul id="menu-footer-widget-menu" class="menu">
                                    <li id="menu-item-4427" class="menu-item   menu-item-home current-menu-item page_item page-item-105 current_page_item menu-item-4427"><a href="index.html">Home</a></li>
                                    <li id="menu-item-4428" class="menu-item   menu-item-4428"><a href="list-layout/index.html">List Layout</a></li>
                                    <li id="menu-item-4426" class="menu-item   menu-item-4426"><a href="news/index.html">News</a></li>
                                    <li id="menu-item-4425" class="menu-item   menu-item-4425"><a href="contact/index.html">Contact</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <!-- /.rh_widgets -->
                </div>
                <!-- /.rh_footer__widgets -->

                <div class="rh_footer__widgets">

                    <div class="rh_widgets">
                        <section id="rh_contact_information-2" class="widget clearfix RH_Contact_Information">
                            <div class="rh_contact_widget">
                                <div class="rh_contact_widget__item rh_contact_widget--alignBaseline">
                                    <p class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="30px" viewBox="0 0 425.963 425.963" style="enable-background:new 0 0 425.963 425.963;"
                                            xml:space="preserve">
<g>
	<path d="M213.285,0h-0.608C139.114,0,79.268,59.826,79.268,133.361c0,48.202,21.952,111.817,65.246,189.081
		c32.098,57.281,64.646,101.152,64.972,101.588c0.906,1.217,2.334,1.934,3.847,1.934c0.043,0,0.087,0,0.13-0.002
		c1.561-0.043,3.002-0.842,3.868-2.143c0.321-0.486,32.637-49.287,64.517-108.976c43.03-80.563,64.848-141.624,64.848-181.482
		C346.693,59.825,286.846,0,213.285,0z M274.865,136.62c0,34.124-27.761,61.884-61.885,61.884
		c-34.123,0-61.884-27.761-61.884-61.884s27.761-61.884,61.884-61.884C247.104,74.736,274.865,102.497,274.865,136.62z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                    </p>
                                    <p class="content">3015 Grand Ave, Coconut Grove, Merrick Way, FL 12345</p>
                                </div>
                                <div class="rh_contact_widget__item rh_contact_widget--alignBaseline">
                                    <p class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
<g>
	<g>
		<path d="M91.8,198.9c35.7,71.4,96.9,130.05,168.3,168.3L316.2,311.1c7.649-7.649,17.85-10.199,25.5-5.1
			c28.05,10.2,58.649,15.3,91.8,15.3c15.3,0,25.5,10.2,25.5,25.5v86.7c0,15.3-10.2,25.5-25.5,25.5C193.8,459,0,265.2,0,25.5
			C0,10.2,10.2,0,25.5,0h89.25c15.3,0,25.5,10.2,25.5,25.5c0,30.6,5.1,61.2,15.3,91.8c2.55,7.65,0,17.85-5.1,25.5L91.8,198.9z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                    </p>
                                    <p class="content">+123-456-789</p>
                                </div>
                                <div class="rh_contact_widget__item rh_contact_widget--alignBaseline">
                                    <p class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
<g>
	<g>
		<path d="M459,51H51C22.95,51,0,73.95,0,102v306c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V102
			C510,73.95,487.05,51,459,51z M459,153L255,280.5L51,153v-51l204,127.5L459,102V153z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                    </p>
                                    <a href="mailto:&#115;ale&#115;&#064;&#121;&#111;&#117;&#114;we&#098;sit&#101;.co&#109;" class="content">
						s&#097;&#108;e&#115;&#064;y&#111;ur&#119;eb&#115;ite&#046;&#099;om					</a>
                                </div>
                            </div>
                            <!-- /.rh_contact_widget -->
                        </section>
                    </div>
                    <!-- /.rh_widgets -->
                </div>
                <!-- /.rh_footer__widgets -->

                <div class="rh_footer__widgets">

                    <div class="rh_widgets">
                        <section id="mc4wp_form_widget-2" class="widget clearfix widget_mc4wp_form_widget">
                            <h3 class="title">Subscribe to Our Newsletter</h3>
                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-4429" method="post" data-id="4429" data-name="Newsletter Signup Form">
                                <div class="mc4wp-form-fields">
                                    <p>
                                        <input type="email" name="EMAIL" placeholder="Your email address" required />
                                    </p>

                                    <p>
                                        <input type="submit" value="Sign up" />
                                    </p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp"
                                        value="1516543938" /><input type="hidden" name="_mc4wp_form_id" value="4429" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /></div>
                                <div class="mc4wp-response"></div>
                            </form>
                            <!-- / MailChimp for WordPress Plugin -->
                        </section>
                    </div>
                    <!-- /.rh_widgets -->
                </div>
                <!-- /.rh_footer__widgets -->

            </div>
        </footer>
        <!-- /.rh_footer -->


    </div>
    <script type='text/javascript' src="{% static 'js/inspiry-login3d36.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/inspiry-search-form3d36.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom3d36.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/retina.min3d36.js'%}"></script>
</body>
</html>