<section class="rh_prop_search rh_wrap--padding">

	<form class="rh_prop_search__form advance-search-form" action="{% url 'search:index' %}" method="get">

		<div class="rh_prop_search__fields">

			<div class="rh_prop_search__wrap">
					<div class="rh_prop_search__option rh_prop_search__select">
		<label for="location">
			Main Location		</label>
		<span class="rh_prop_search__selectwrap">
			<select name="location" id="location" class="rh_select2"></select>
		</span>
	</div>

<div class="rh_prop_search__option rh_prop_search__select">
	<label for="select-status">
		Property Status	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="status" id="select-status" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="for-rent">For Rent</option><option value="for-sale">For Sale</option>		</select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select">
	<label for="select-property-type">
		Property Type	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="type" id="select-property-type" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="commercial"> Commercial</option><option value="office">-  Office</option><option value="shop">-  Shop</option><option value="residential"> Residential</option><option value="apartment">-  Apartment</option><option value="apartment-building">-  Apartment Building</option><option value="condominium">-  Condominium</option><option value="single-family">-  Single Family</option><option value="villa">-  Villa</option>		</select>
	</span>
</div>
	       	</div>
			<!-- /.rh_prop_search__wrap -->

	       	<div class="rh_prop_search__dropdown" id="rh_prop_search__dropdown">

				<div class="rh_prop_search__option">
	<label for="property-id-txt">
		Property ID	</label>
	<input type="text" name="property-id" id="property-id-txt"
	       value=""
	       placeholder="Any" />
</div>

<div class="rh_prop_search__option rh_prop_search__select">
	<label for="select-bedrooms">
		Min Beds	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="bedrooms" id="select-bedrooms" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		</select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select">
	<label for="select-bathrooms">
		Min Baths	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="bathrooms" id="select-bathrooms" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		</select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select">
	<label for="select-garages">
		Min Garages	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="garages" id="select-garages" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		</select>
	</span>
</div>
<div class="rh_prop_search__option rh_prop_search__select price-for-others">
	<label for="select-min-price">
		Min Price	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="min-price" id="select-min-price" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="1000">$1,000</option><option value="5000">$5,000</option><option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option>		</select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select price-for-others">
	<label for="select-max-price">
		Max Price	</label>
	<span class="rh_prop_search__selectwrap">
		<select name="max-price" id="select-max-price" class="rh_select2">
			<option value="any" selected="selected">Any</option><option value="5000">$5,000</option><option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option><option value="10000000">$10,000,000</option>		</select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select price-for-rent hide-fields">
	<label for="select-min-price-for-rent">
		Min Price	</label>
	<span class="rh_prop_search__selectwrap">
	    <select name="min-price" id="select-min-price-for-rent" class="rh_select2" disabled="disabled">
	        <option value="any" selected="selected">Any</option><option value="500">$500</option><option value="1000">$1,000</option><option value="2000">$2,000</option><option value="3000">$3,000</option><option value="4000">$4,000</option><option value="5000">$5,000</option><option value="7500">$7,500</option><option value="10000">$10,000</option><option value="15000">$15,000</option><option value="20000">$20,000</option><option value="25000">$25,000</option><option value="30000">$30,000</option><option value="40000">$40,000</option><option value="50000">$50,000</option><option value="75000">$75,000</option><option value="100000">$100,000</option>	    </select>
	</span>
</div>

<div class="rh_prop_search__option rh_prop_search__select price-for-rent hide-fields">
	<label for="select-max-price-for-rent">
		Max Price	</label>
	<span class="rh_prop_search__selectwrap">
	    <select name="max-price" id="select-max-price-for-rent" class="rh_select2" disabled="disabled">
	        <option value="any" selected="selected">Any</option><option value="1000">$1,000</option><option value="2000">$2,000</option><option value="3000">$3,000</option><option value="4000">$4,000</option><option value="5000">$5,000</option><option value="7500">$7,500</option><option value="10000">$10,000</option><option value="15000">$15,000</option><option value="20000">$20,000</option><option value="25000">$25,000</option><option value="30000">$30,000</option><option value="40000">$40,000</option><option value="50000">$50,000</option><option value="75000">$75,000</option><option value="100000">$100,000</option><option value="150000">$150,000</option>	    </select>
	</span>
</div>
<div class="rh_prop_search__option">
	<label for="min-area">
		<span class="label">
			Min Area	    </span>
		<span class="unit">
			(sq ft)	    </span>
	</label>
	<input type="text" name="min-area" id="min-area" pattern="[0-9]+"
	       value=""
	       placeholder="Any"
	       title="Only provide digits!" />
</div>

<div class="rh_prop_search__option">
	<label for="max-area">
		<span class="label">
			Max Area	    </span>
		<span class="unit">
			(sq ft)		</span>
	</label>
	<input type="text" name="max-area" id="max-area" pattern="[0-9]+"
	       value=""
	       placeholder="Any"
	       title="Only provide digits!" />
</div>

			</div>
	       	<!-- /.rh_prop_search__dropdown -->

		</div>
		<!-- /.rh_prop_search__fields -->

		<div class="rh_prop_search__buttons">

<div class="rh_prop_search__btnWrap clearfix">

	<div class="rh_prop_search__advance">
		<a href="#" id="rh_prop_search__advance">
			<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.icon-search-plus{fill:none;stroke:#fff;stroke-linejoin:round;stroke-width:2px;}</style></defs><g data-name="137-Zoom" id="_137-Zoom"><circle class="icon-search-plus" cx="12" cy="12" r="11"/><line class="icon-search-plus" x1="20" x2="31" y1="20" y2="31"/><line id="rh_icon__search" class="icon-search-plus" x1="12" x2="12" y1="6" y2="18"/><line class="icon-search-plus" x1="18" x2="6" y1="12" y2="12"/></g></svg>
		</a>
	</div>
	<div class="rh_prop_search__searchBtn">
				<button class="rh_btn rh_btn__prop_search" type="submit">
			<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.icon-search{fill:none;stroke:#fff;stroke-linejoin:round;stroke-width:2px;}</style></defs><g data-name="32-Search" id="_32-Search"><circle class="icon-search" cx="12" cy="12" r="11"/><line class="icon-search" x1="20" x2="31" y1="20" y2="31"/></g></svg>
			<span>
				Search			</span>
		</button>
	</div>

</div>
<!-- /.rh_prop_search__btnWrap -->
		</div>
		<!-- /.rh_prop_search__buttons -->

	</form>
	<!-- /.rh_prop_search__form -->

		</section>
	<!-- /.rh_prop_search -->