<form action="{% url 'news:comment' %}" method="post"
      id="commentform" class="comment-form" novalidate="novalidate">
    {% csrf_token %}
    <input type="hidden" name="news" value="{{news_id}}">
    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
        Required fields are marked <span class="required">*</span></p>
    <p class="comment-form-comment"><label for="comment">Comment</label>
        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
    </p>
    <p class="comment-form-author"><label for="author">Name <span class="required">*</span></label>
        <input id="author" name="author" type="text" value="" size="30" maxlength="245"
               aria-required='true' required='required'/></p>
    <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label>
        <input id="email" name="email" type="text" value="" size="30" maxlength="100"
               aria-describedby="email-notes" aria-required='true' required='required'/></p>
    <p class="comment-form-url"><label for="url">Website</label>
        <input id="url" name="website" type="text" value="" size="30" maxlength="200"/>
    </p>
    <p class="form-submit">
        <button id="submit" class="submit">Post Comment</button>
    </p>
</form>