{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="rh_banner rh_banner__image"
         style="background-repeat: no-repeat;background-position: center top;background-image: url('{% static 'img/banner.jpg' %}'); background-size: cover; ">

    <div class="rh_banner__cover"></div>
    <!-- /.rh_banner__cover -->

    <div class="rh_banner__wrap">

        <h2 class="rh_banner__title">
            News </h2>
        <!-- /.rh_banner__title -->


    </div>
    <!-- /.rh_banner__wrap -->

</section>
{% include 'searchSidebar.html' %}
<section class="rh_section rh_section--flex rh_wrap--padding rh_wrap--topPadding">
    <div class="rh_page rh_page__listing_page rh_page__news rh_page__main">
        <div class="rh_blog rh_blog__listing">
            {% for item in object_list %}
            <article id="post-24" class="rh_blog__post rh_blog--index">
                <div class="listing-slider">
                    <ul class="slides">

                        {% for image in item.newsimage_set.all %}
                        <li><a href="{{image.image.url}}" title="{{image.title}}" class="swipebox"><img
                                src="{{image.image.url}}" alt="{{image.title}}"/></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="entry-header blog-post-entry-header">
                    <h2 class="entry-title"><a href="{% url 'news:details' item.slug %}" rel="bookmark">{{item.title}}</a></h2>
                    <div class="entry-meta blog-post-entry-meta">
                        By <p class="vcard fn">{{item.user.first_name}} {{item.user.last_name}}</p> Posted in <a href="../category/luxury/index.html">Luxury</a>
                        On
                        <time class="entry-date published" datetime="2015-07-13T19:57:19+00:00">{{item.create_date|date:"M j, Y"}}</time>
                    </div>
                </div>

                <div class="entry-summary">
                    <p>{{item.text|truncatewords:"50"}}</p>
                    <a href="{% url 'news:details' item.slug %}" rel="bookmark" class="rh_btn rh_btn--primary read-more">Read
                        More</a>
                </div>

            </article>
            {% endfor %}
            <div class='rh_pagination'><a href='index.html' class='rh_pagination__btn current'>1</a> <a
                    href='page/2/index.html' class='rh_pagination__btn'>2</a></div>
        </div>
        <!-- /.rh_blog rh_blog__listing -->
    </div>
    <!-- /.rh_page rh_page__main -->
    <div class="rh_page rh_page__sidebar">

        <!-- Sidebar -->
        <aside class="rh_sidebar">
            <section id="ajax-aside" class="widget clearfix"><h3
                    class="title">Featured Properties</h3>

            </section>
            <section id="search-2" class="widget clearfix widget_search">
                <form role="search" method="get" id="searchform" class="searchform"
                      action="http://realhomes-modern.inspirythemes.biz/">
                    <div>
                        <label class="screen-reader-text" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="s"/>
                        <input type="submit" id="searchsubmit" value="Search"/>
                    </div>
                </form>
            </section>
            <section id="categories-2" class="widget clearfix widget_categories"><h3 class="title">Categories</h3>
                <ul>
                    <li class="cat-item cat-item-3"><a href="../category/comfort/index.html">Comfort</a>
                    </li>
                    <li class="cat-item cat-item-4"><a href="../category/luxury/index.html">Luxury</a>
                    </li>
                    <li class="cat-item cat-item-5"><a href="../category/market-trends/index.html">Market Trends</a>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- End Sidebar -->
    </div>
    <!-- /.rh_page rh_page__sidebar -->

</section>
<!-- /.rh_section rh_wrap rh_wrap--padding -->
{% endblock %}
